# Aggressive ignore
chrome_profile
chromium_profile
firefox_profile
student_cookies
logs
*.log
.git
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv
*.db
*.sqlite
.DS_Store
**/SingletonCookie
**/SingletonLock
**/SingletonSocket
